################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/JFS.Libs/obj/Debug
/JFS.Libs.Utils.K2/obj/Debug
/JFS.Libs.Utils.Redis/obj/Debug
/.vs
/JFS.Libs.Redis.UnitTest/obj
/packages
/JFS.Libs.Utils.Redis/bin/Debug
